<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olvide mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/img/logoapp.png" />

  <main class="contenedor">
    <ion-input label="Correo electronico" labelPlacement="stacked" placeholder="Ingresa tu correo electronico"
      [(ngModel)]="email" class="mt-5" />


    <ion-button (click)="forgotPassword()" expand="block">
      Enviar instrucciones
    </ion-button>

    <ion-toast [isOpen]="alerta.show" [message]="alerta.msg" [duration]="alerta.duration" />
  </main>
</ion-content>