<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="assets/img/logoapp.png" />

  <form [formGroup]="loginForm" (submit)="onSubmit()" class="contenedor">
    <ion-input type="email" formControlName="email" labelPlacement="floating" errorText="Formato de correo no valido"
      label="Correo electronico" placeholder="Ingresa tu correo electronico" />

    <ion-input type="password" formControlName="password" labelPlacement="floating" errorText="Contraseña obligatorio"
      label="Contraseña" placeholder="Ingresa tu contraseña" />

    <a href="forgot-password" class="forgot">¿Olvidaste tu contraseña?</a>


    <ion-button type="submit" expand="block">
      Crear cuenta
    </ion-button>
  </form>

  <div class="center">
    <ion-text>¿Ya tienes una cuenta? <a href="login">Inicia Sesión</a></ion-text>
  </div>

  <ion-toast [isOpen]="alerta.show" [message]="alerta.msg" [duration]="alerta.duration" />
</ion-content>